# =========================
# BACKEND (Python / FastAPI)
# =========================

# Ambiente virtual
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos criados automaticamente
backend/app/models/
backend/models/

# Arquivos de build Python
*.egg-info/
.eggs/
dist/
build/

# Config VSCode
.vscode/

# Logs
*.log

# Arquivos sensíveis
*.env
*.ini
*.cfg



# =========================
# FRONTEND (React + Vite)
# =========================

# Dependências Node
frontend/node_modules/

# Build / Output do Vite
frontend/build/
frontend/dist/
frontend/.cache/

# Caso futuro: Next.js
frontend/.next/

# IGNORAR SOMENTE MODELOS DENTRO DO PUBLIC
# (public deve continuar versionado)
frontend/face-liveness-front/public/models/
frontend/face-liveness-front/public/models/*

# Arquivos .env do front
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test

# Logs npm/yarn
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*



# =========================
# SISTEMA / IDE
# =========================

# IDEs
*.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Histórico local do VSCode
frontend/face-liveness-front/.history/
backend/.history/
