# ================= BACKEND (Python) =================
# Ambiente virtual
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de build
*.egg-info/
.eggs/
dist/
build/

# Config VSCode
.vscode/

# Logs
*.log

# Arquivos de configuração sensíveis
*.env
*.ini
*.cfg

# ================= FRONTEND (React / Node.js) =================
# Dependências
frontend/node_modules/

# Build/output
frontend/build/
frontend/dist/
frontend/.cache/      # Vite ou Next.js
frontend/.next/       # caso use Next.js

# Arquivos de configuração sensíveis
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ================= IDE / Sistema ====================
# IDEs
*.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db


# Histórico local do VSCode
frontend/face-liveness-front/.history/
backend/.history/